/* inter-regular - latin */
@font-face {
  /* Subsetted from the official Inter Variable font via:
   * hb-subset InterVariable.ttf --output-file=inter-variable-latin-regular.ttf --unicodes="U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD" --layout-features+=ss07,ss08,cv10 --variations="wght=400:700"
   * woff2_compress inter-variable-latin-regular.ttf
   */
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url("/assets/fonts/inter-variable-latin-regular.woff2") format("woff2");
  /* Make it look more like Helvetica */
  font-feature-settings: "ss07", "ss08", "cv10";
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  src: url("/assets/fonts/inter-variable-latin-italic.woff2") format("woff2");
  font-feature-settings: "ss07", "ss08", "cv10";
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* jetbrains-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/jetbrains-mono-v18-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #161518;
    --link-color: #30597a;
    --link-underline: rgba(48, 89, 122, 0.5);
    --text-underline: rgba(22, 21, 24, 0.5);
    --separator: rgba(22, 21, 24, 0.25);
    --background-color: #f8f1e6;
    --bg-hover: #ebe1d0;
    --bg-active: #fffefc;
    --button-color: #161518;
    --button-hover: #262529;
    --button-active: #0d0e0f;
    --navbar-color: #fffefc;
    --highlight: rgba(255, 167, 0, 0.5);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f8f1e6;
    --link-color: #8de1e7;
    --link-underline: rgba(141, 225, 231, 0.5);
    --text-underline: rgba(248, 241, 230, 0.5);
    --separator: rgba(248, 241, 230, 0.25);
    --background-color: #161518;
    --bg-hover: #262529;
    --bg-active: #0d0e0f;
    --button-color: #f8f1e6;
    --button-hover: #fffefc;
    --button-active: #ebe1d0;
    --navbar-color: #0d0e0f;
    --highlight: rgba(255, 176, 5, 0.325);
  }
}
:root {
  --header-font: "Inter", "Helvetica Neue", "Helvetica", "SF Pro", "Arial", sans-serif;
  --header-weight: 650;
}

.light-mode {
  --text-color: #161518;
  --link-color: #30597a;
  --link-underline: rgba(48, 89, 122, 0.5);
  --text-underline: rgba(22, 21, 24, 0.5);
  --separator: rgba(22, 21, 24, 0.25);
  --background-color: #f8f1e6;
  --bg-hover: #ebe1d0;
  --bg-active: #fffefc;
  --button-color: #161518;
  --button-hover: #262529;
  --button-active: #0d0e0f;
  --navbar-color: #fffefc;
  --highlight: rgba(255, 167, 0, 0.5);
}

.dark-mode {
  --text-color: #f8f1e6;
  --link-color: #8de1e7;
  --link-underline: rgba(141, 225, 231, 0.5);
  --text-underline: rgba(248, 241, 230, 0.5);
  --separator: rgba(248, 241, 230, 0.25);
  --background-color: #161518;
  --bg-hover: #262529;
  --bg-active: #0d0e0f;
  --button-color: #f8f1e6;
  --button-hover: #fffefc;
  --button-active: #ebe1d0;
  --navbar-color: #0d0e0f;
  --highlight: rgba(255, 176, 5, 0.325);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

input, select, body {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  line-height: 1.625;
}

input[type=text], input[type=number] {
  background-color: var(--bg-hover);
  border: none;
  border-radius: 0.25rem;
  padding: 0.1rem 0.5rem;
}
input[type=text]:focus, input[type=number]:focus {
  outline: 1px solid var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  font-variation-settings: "opsz" 32;
  font-weight: 600;
  line-height: 1.25;
}
h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
  background-color: var(--highlight);
  outline: 0.25rem solid var(--highlight);
  border-radius: 0.25rem;
}

h1 {
  font-weight: 650;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-underline);
}
a:hover {
  text-decoration-thickness: 2px;
}

.external-link::after {
  content: "";
  display: inline-block;
  width: 1.5ex;
  height: 1ex;
  background-color: currentColor;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cg fill='none' stroke='%23000' stroke-width='2'%3E%3Cpath stroke-linejoin='round' d='M8 1H1v16h16V10'/%3E%3Cpath d='M17 1 6 12m5-11h6v6'/%3E%3C/g%3E%3C/svg%3E");
  mask-size: 1ex 1ex;
  mask-repeat: no-repeat;
  mask-position: 0.5ex 0;
}

picture {
  line-height: 0;
}

pre {
  white-space: pre-wrap;
  padding: 0.25rem 0.5rem;
}

pre,
code {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--bg-active);
  border-radius: 0.25rem;
}

#navigation-bar {
  position: sticky;
  top: 0;
  z-index: 2;
  font-family: var(--header-font);
  font-variation-settings: "opsz" 32;
  font-size: 1.25rem;
  font-weight: 450;
  display: flex;
  background-color: var(--navbar-color);
  padding-right: 1rem;
}
#navigation-bar a {
  transition: background-color 0.1s;
}
#navigation-bar a:hover, #navigation-bar a.active {
  background-color: var(--bg-hover);
}

.navbar-logo {
  line-height: 0;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.navbar-logo img {
  height: 1.5rem;
  width: auto;
}

.navigation-pages {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.navigation-pages li {
  display: inline-block;
  flex-grow: 1;
  flex-basis: 0;
}
.navigation-pages a {
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 0.125rem 0.625rem;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-color);
}

#search-area {
  align-self: center;
  margin-left: auto;
  display: flex;
  align-items: center;
}
#search-area > summary {
  float: right;
}
#search-area > summary::marker {
  content: "";
}

#search {
  position: relative;
  display: inline-block;
}

@property --grad-progress {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: -20%;
}
#search-input {
  padding-right: 24px;
  background: linear-gradient(to right, var(--bg-hover) var(--grad-progress), var(--separator) calc(var(--grad-progress) + 10%), var(--bg-hover) calc(var(--grad-progress) + 20%));
}
#search-input.loading {
  animation: search-loading 0.5s linear infinite;
}

@keyframes search-loading {
  to {
    --grad-progress: 100%;
  }
}
#search-clear {
  position: absolute;
  right: 0;
  top: calc(50% - 12px);
  display: none;
}
#search-clear.active {
  display: inline-block;
}

#search-open {
  display: none;
}

#search-results-container {
  box-sizing: border-box;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden;
}

.search-results {
  background-color: var(--background-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  visibility: visible;
  box-shadow: 0px 0px 18px 8px rgba(0, 0, 0, 0.375);
}

.search-results-page-input {
  appearance: textfield;
  width: 3rem;
}

.pagination {
  background-color: var(--bg-active);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
}

.search-results-list {
  overflow: auto;
}

.search-result, .search-sub-result {
  display: block;
  color: var(--text-color);
  text-decoration: none;
}

.search-result {
  padding: 0.5rem 1rem;
  transition: background-color 0.1s;
}
.search-result:hover {
  background-color: var(--bg-hover);
}
.search-result:active {
  background-color: var(--bg-active);
}
.search-result mark {
  color: var(--text-color);
  background-color: var(--highlight);
  border-radius: 0.25rem;
  padding: 0.075rem 0.125rem;
  margin: -0.075rem -0.125rem;
}

.search-sub-result {
  padding-left: 1rem;
}

.result-title, .sub-result-title {
  font-family: var(--header-font);
  font-variation-settings: "opsz" 32;
  font-weight: 650;
}

.result-title {
  font-size: 1.5rem;
}

.sub-result-excerpt {
  font-size: 80%;
}

.search-no-results {
  font-family: var(--header-font);
  font-variation-settings: "opsz" 32;
  font-weight: 650;
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
}

.navigation-details {
  padding: 0 0 0 2rem;
}

.navigation-sidebar {
  width: 3in;
  position: relative;
}
.navigation-sidebar > ul {
  position: fixed;
  list-style-type: none;
  padding: 0;
  width: 3in;
}
.navigation-sidebar > ul ul {
  list-style-type: none;
  padding: 0;
  margin-left: 0.25in;
  border-left: 2px solid var(--separator);
}
.navigation-sidebar .navigation-active {
  font-weight: bold;
}
.navigation-sidebar a {
  color: var(--text-color);
  text-decoration: none;
  display: block;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.1s;
}
.navigation-sidebar a:hover {
  background-color: var(--bg-hover);
}

.button {
  background-color: var(--button-color);
  color: var(--background-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.1s;
}
.button:hover {
  background-color: var(--button-hover);
}
.button:active {
  background-color: var(--button-active);
}

button.icon-button {
  appearance: none;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.1s;
  border-radius: 0.25rem;
}
button.icon-button:disabled {
  opacity: 0.625;
  cursor: not-allowed;
}
button.icon-button:disabled:hover {
  background-color: transparent;
}
button.icon-button:hover {
  background-color: var(--separator);
}
button.icon-button::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color: var(--text-color);
  mask-image: url("/assets/images/icons.svg");
}
button.icon-button.arrow-right::before {
  mask-position: calc(200% / 6);
}
button.icon-button.close::before {
  mask-position: calc(500% / 6);
}
button.icon-button.search::before {
  mask-position: calc(600% / 6);
}

.nav-cols {
  display: flex;
  justify-content: center;
}

#content {
  padding: 0 2rem 4rem;
  max-width: 12in;
  box-sizing: border-box;
}
#content img {
  max-width: 100%;
  height: auto;
}

.thumbnail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
}
.thumbnail-overlay.active {
  display: flex;
}
.thumbnail-overlay > img {
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
}

img.thumbnail {
  cursor: pointer;
}

.navigation-summary {
  display: none;
}

@media (max-width: 9in) {
  .nav-cols {
    flex-direction: column;
  }
  .navigation-details {
    padding: 1rem 2rem 0 2rem;
  }
  .navigation-details[open] .navigation-summary::before {
    transform: rotate(90deg);
  }
  .navigation-sidebar {
    width: 100%;
  }
  .navigation-sidebar > ul {
    position: initial;
    margin-bottom: 0;
  }
  .navigation-summary {
    display: flex;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
  }
  .navigation-summary::before {
    content: "";
    margin-right: 0.5rem;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask-image: url("/assets/images/icons.svg");
    mask-size: auto 100%;
    mask-position: calc(200% / 6);
    transition: transform 0.2s;
  }
  #content {
    width: 100%;
  }
  #search {
    display: none;
  }
  #search.open {
    display: unset;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }
  #search-open {
    display: unset;
  }
  #search-area.open {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--bg-active);
    align-self: stretch;
    position: absolute;
  }
  #search-area.open #search {
    display: unset;
    flex: 1 1 auto;
    display: flex;
  }
  #search-area.open #search-input {
    flex: 1 1 auto;
  }
  #search-area.open #search-open {
    display: none;
  }
}