@font-face {
    font-family: 'Creato Display';
    src: url('/assets/fonts/subset-CreatoDisplay-Bold.woff2') format('woff2'),
        url('/assets/fonts/subset-CreatoDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

