<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preload" href="/style.css" as="style">
        <link rel="preload" href="/assets/fonts/stylesheet.css" as="style">
        {{ header_extras }}
        <title>{{ title }}{% if not isMainPage %} · ntsc-rs {% endif %}</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="/assets/images/icon.svg">
        {% if description %}
        <meta name="description" content="{{ description | escape }}">
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="/assets/main.js" defer async></script>
    </head>
    <body>
        <div class="navigation-bar">
            <a href="/" class="navbar-logo">
                <picture>
                    <source srcset="/assets/images/logo-darkmode.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">
                    {% image "src/assets/images/logo-lightmode.svg" "ntsc-rs logo" %}
                </picture>
            </a>
            <ul class="navigation-pages">
                <li><a class="navigation-docs {% if nav-slug == "docs" %} active {% endif %}" href="/docs/getting-started/">Documentation</a></li>
                <li><a class="external" href="https://github.com/valadaptive/ntsc-rs/releases"><span class="external-link">Downloads</span></a></li>
                <li><a class="external" href="https://github.com/valadaptive/ntsc-rs/discussions"><span class="external-link">Discussions</span></a></li>
                <li><a class="external" href="https://github.com/valadaptive/ntsc-rs"><span class="external-link">GitHub</span></a></li>
            </ul>
        </div>
        {{ content }}
    </body>
</html>
