@use 'sass:color';
@use "sass:map";
@import "/assets/fonts/stylesheet.css";

$beige: #f8f1e6;
$beige-darker: #ebe1d0;
$beige-lighter: #fffefc;
$black: #161518;
$black-darker: #0d0e0f;
$black-lighter: #262529;
$link-color-light-mode: #30597a;
$link-color-dark-mode: #8de1e7;

@mixin color-scheme($palette) {
    --text-color: #{map.get($palette, 'text')};
    --link-color: #{map.get($palette, 'link')};
    --link-underline: #{color.change(map.get($palette, 'link'), $alpha: 0.5)};
    --text-underline: #{color.change(map.get($palette, 'text'), $alpha: 0.5)};
    --separator: #{color.change(map.get($palette, 'text'), $alpha: 0.25)};
    --background-color: #{map.get($palette, 'background')};
    --bg-hover: #{map.get($palette, 'background-hover')};
    --bg-active: #{map.get($palette, 'background-active')};
    --button-color: #{map.get($palette, 'text')};
    --button-hover: #{map.get($palette, 'text-hover')};
    --button-active: #{map.get($palette, 'text-active')};
    --navbar-color: #{map.get($palette, 'navbar')};
}

@mixin dark-mode {
    @include color-scheme(("text": $beige,
            "text-hover": $beige-lighter,
            "text-active": $beige-darker,
            "link": $link-color-dark-mode,
            "background": $black,
            "background-hover": $black-lighter,
            "background-active": $black-darker,
            "navbar": $black-darker ));
}

@mixin light-mode {
    @include color-scheme(("text": $black,
            "text-hover": $black-lighter,
            "text-active": $black-darker,
            "link": $link-color-light-mode,
            "background": $beige,
            "background-hover": $beige-darker,
            "background-active": $beige-lighter,
            "navbar": $beige-lighter ));
}

@media(prefers-color-scheme: light) {
    :root {
        @include light-mode;
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        @include dark-mode;
    }
}

.light-mode {
    @include light-mode();
}

.dark-mode {
    @include dark-mode();
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem;
    line-height: 1.625;
}

a {
    color: var(--link-color);
    text-decoration: underline;

    text-decoration-color: var(--link-underline);

    &:hover {
        text-decoration-thickness: 2px;
    }
}

picture {
    line-height: 0;
}

pre {
    white-space: pre-wrap;
    padding: 0.25rem 0.5rem;
}

pre,
code {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--bg-active);
    border-radius: 0.25rem;
}

.navigation-bar {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    gap: 1rem;

    background-color: var(--navbar-color);
    padding: 0 1rem;
}

.navbar-logo {
    line-height: 0;
    padding: 1rem 0;
    display: flex;
    align-items: center;

    & img {
        height: 1.5rem;
        width: auto;
    }
}

.navigation-pages {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    & li {
        display: inline-block;
        // This allows the items to transition from a row to a grid as the screen narrows
        flex-grow: 1;
        flex-basis: 0;
    }

    & a {
        display: flex;
        align-items: center;
        height: 100%;
        box-sizing: border-box;
        padding: 0.125rem 0.5rem;

        text-decoration: none;
        color: var(--text-color);

        transition: background-color 0.1s;

        &:hover,
        &.active {
            background-color: var(--bg-hover)
        }
    }
}

.navigation-sidebar {
    width: 3in;
    position: relative;

    & > ul {
        position: fixed;
        list-style-type: none;
        padding: 0;
        width: 3in;

        & ul {
            list-style-type: none;
            padding: 0;
            margin-left: 0.25in;
            border-left: 2px solid var(--separator);
        }
    }

    & .navigation-active {
        font-weight: bold;
    }

    a {
        color: var(--text-color);
        text-decoration: none;
        display: block;
        padding: 0.25rem 0.5rem;
        transition: background-color 0.1s;

        &:hover {
            background-color: var(--bg-hover);
        }
    }
}

.button {
    background-color: var(--button-color);
    color: var(--background-color);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;

    transition: background-color 0.1s;

    &:hover {
        background-color: var(--button-hover);
    }

    &:active {
        background-color: var(--button-active);
    }
}

.nav-cols {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#content {
    padding: 0 2rem 4rem;
    width: 12in;
    box-sizing: border-box;

    img {
        max-width: 100%;
        height: auto;
    }
}

.docs-image {
    max-width: 100%;
    height: auto;
}

.thumbnail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;

    &.active {
        display: flex;
    }

    & > img {
        max-width: calc(100% - 2rem);
        max-height: calc(100% - 2rem);
    }
}

img.thumbnail {
    cursor: pointer;
}

.navigation-summary {
    display: none;
}

@media (max-width: 8in) {
    .nav-cols {
        flex-direction: column;
        gap: 0;
    }

    .navigation-details {
        padding: 1rem 2rem 0 2rem;

        &[open] .navigation-summary::before {
            transform: rotate(90deg);
        }
    }

    .navigation-sidebar {
        width: 100%;

        & > ul {
            position: initial;
        }
    }

    .navigation-summary {
        display: block;
        font-weight: bold;
        cursor: pointer;

        &::before {
            content: '▶';
            margin-right: 0.5rem;
            display: inline-block;
            transition: transform 0.2s;
        }
    }

    #content {
        width: 100%;
    }
}